<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>3</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>4</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>5</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>6</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>7</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>8</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>9</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>10</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>11</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>12</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>13</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>14</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>15</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>16</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>17</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>18</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
	<dict>
		<key>time</key>
		<string>19</string>
		<key>source</key>
		<string>网络中心</string>
		<key>title</key>
		<string>孩子无意碰撞，男子猛踢男童，你要是男童家长，认为怎么处理才算满意？</string>
		<key>detail</key>
		<string>我认为行政处罚远远不够，我要是男童爸爸会继续告他故意伤害，至少判他几年。如果法律程序不管用，或者说，不管是否管用，我都要报复他，若在当场肯定动手，打不死也要打残！气的我胸口过电一样发抖。

我知道这是以暴制暴，而且把问题扩大化，但我忍不住脑子里幻想揍他到血肉模糊才解恨！

我也知道这样做的话，我和他就没有本质区别了，都是暴戾的，或者说从他身上看到了自己，他的恶诱发了我身上潜在的恶。

事情不落在自己身上，其实完全没必要生气，可是还是忍不住。设身处地地想，如果我们遇到了这样的事儿，到底怎样处理才算周全，才最妥当？</string>
	</dict>
</array>
</plist>
