<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict/>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_img</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreMyFavorites</string>
				<key>title</key>
				<string>收藏</string>
				<key>target_vc</key>
				<string>XNCollectController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>accessory_img</key>
				<string>arrow_right</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>icon</key>
				<string>ff_IconQRCode</string>
				<key>title</key>
				<string>扫一扫</string>
				<key>target_vc</key>
				<string>XNScanViewController</string>
			</dict>
			<dict>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_img</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>ff_IconShake</string>
				<key>title</key>
				<string>摇一摇</string>
				<key>target_vc</key>
				<string>XNShakeViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ff_IconShowAlbum</string>
				<key>title</key>
				<string>清除缓存</string>
				<key>function_name</key>
				<string>clearMemory</string>
			</dict>
			<dict>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_img</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreMyBankCard</string>
				<key>title</key>
				<string>帮助和反馈</string>
				<key>target_vc</key>
				<string>XNHelpViewController</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>MoreGame</string>
				<key>title</key>
				<string>分享</string>
				<key>function_name</key>
				<string>shareAPP</string>
			</dict>
			<dict>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_img</key>
				<string>arrow_right</string>
				<key>icon</key>
				<string>MoreSetting</string>
				<key>title</key>
				<string>关于</string>
				<key>target_vc</key>
				<string>XNAboutViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ProfileLockOn</string>
				<key>title</key>
				<string>退出登录</string>
				<key>function_name</key>
				<string>Logout</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
